name: ci

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/ci.yml
      - data/**
      - scripts/**
      - test/**
      - package.json
  push:
    branches:
      - main
    paths:
      - .github/workflows/ci.yml
      - data/**
      - scripts/**
      - test/**
      - package.json
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: npx biome check . && npx prettier --check './**/*.{md,yml}'
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm run build
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm run build
      - run: pnpm test
